.bg{background-color: #064425}
.cabecalho{background-color: #085830;}
.botoes{background-color: #70717259;}
.comandos{background-color: #ffffffdc}
.b1{cursor: pointer;border-bottom: 1px solid rgba(255, 255, 255, 0.116)}
.b2{cursor: pointer;background-color: #8f9194}
.b1-item:hover{background-color: #046aa5}
.bg-user3{background-color:#176b9b}
.lista{list-style:none;background-color: #ffffff;}
.lista:hover{background-color: #ebe9e9}
.icon-camera,.icon-erase,.cad,.search,.user{cursor: pointer;}
.user1:hover{background-color:#2d86b9}
.user2:hover{background-color:#2876a3}
.user3:hover{background-color: #176b9b}
.footer{background-color: #064425}

@media(min-width: 300px){
  .ativo{background-color: #e46104;}
  .ativo-2{background-color: #c9c6c6;}
  .ativo:hover{background-color: #eb741f}
  ul{margin-left: -40px;}
  .itens-user{margin: 0 0 0 55px;}
  .dropdown-menu{width:300px;}
}
@media (min-width: 576px) { }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {
  .active{background-color: #e46104;}
  .active:hover{background-color: #eb741f}
  ul{margin-left: -40px;}
  .comandos_cad{height: 835px;}
  .dropdown-menu{width:240px;margin-right: -4.5px}
  .apresentacao-logo_img{margin:0 100px}
}
@media(min-width:1299px){
  .apresentacao-logo_img{margin: 40px 115px}
}
@media (min-width: 1590px){
  .apresentacao-logo_img{margin:30px auto}
  .comandos_cad{height: 598px;}
}
@media (min-width: 1890px){
  .apresentacao-logo_img{margin:155px auto}
  .comandos_cad{height: 835px;}
}