
.bg{background-color: #095a32}
.login-elite-1 .p1{font-family: Arial, Helvetica, sans-serif;}
.login-elite-1 .p2{font-family: 'Anton', sans-serif;}
.login-elite-1 .p3{font-family: Verdana, 'Geneva', Tahoma, sans-serif;}

.text-form{color: #eff1f1}
.bg-rodape{background-color: #0d7e45}
.text-rodape{color: #ebf0ee}
.link-a{cursor: pointer;}

div#msg-sucesso{width: 420px;margin: 6px auto;padding: 6px;background-color: rgba(50, 205, 50, 0.562);border: 1px solid rgb(34,139,34);color:rgb(248, 242, 242);}
div#msg-sucesso a{color:rgb(248, 242, 242);}
div.msg-erro{width: 420px;margin: 6px auto;padding: 6px 80px;background-color: rgba(228, 83, 67, 0.699);border: 1px solid rgb(218, 38, 38);color:rgb(248, 242, 242);}


@media(min-width: 300px){
    .bg{background-image:none;}
    .login{display: block;margin: 25px 0 auto}
    .login-elite-1{margin: 10px auto}
    .login-elite-1 .p1{font-size: 35px;margin: 27px 0 0 -70px}
    .login-elite-1 .p2{font-size: 60px}
    .login-elite-1 .p3{font-size: 16px;}
    .login-elite-1 .p4{font-size: 85px;margin: -80px 0 0 5px}
    .login-elite-1__text{margin-top: -30px}

    .login-elite-2 a{font-size: 13.5px}

  }
  @media (min-width: 576px) {  }
  
  @media (min-width: 768px) {  }
  
  @media (min-width: 992px) {  }
  
  @media (min-width: 1200px) { 
    .login{margin-top:200px}
    .login-elite-1 .p2{font-size:4em}
    .login-elite-1 .p3{font-size: 1em;}

    .login-elite-2 a{font-size: 16px}
  }
  @media(min-width: 1899px){
    .login{margin-top:300px}
  }